/* Nav bar */
nav{
  background-color: #f1f8f4;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.navbar-logo {
  margin: 0;
  color: #2e7d32;
}
.navLink{
color: #2e7d32;
  text-decoration: none;
  font-weight: bold;
    
}
.navLink:hover{
     text-decoration: underline;
}
/* Footer */
footer{
    background-color: #f1f8f4;
     color: #2e7d32;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
}




/* Home page */
.home {
  font-family: Arial, sans-serif;
}

/* HERO SECTION */
.hero {
  background-color: #2e7d32;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.hero-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
}

.hero-actions {
  margin-top: 30px;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 5px;
}

.btn-primary {
  background-color: white;
  color: #2e7d32;
}

.btn-outline {
  border: 2px solid white;
  color: white;
}

/* FEATURES SECTION */
.features {
  padding: 40px 20px;
  background-color: #f1f8f4;
}

.section-title {
  text-align: center;
  color: #2e7d32;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* FEATURE CARD */
.feature-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  color: #2e7d32;
}

/* USERS SECTION */
.users {
  padding: 40px 20px;
}

.users-list {
  max-width: 600px;
  margin: 20px auto;
  font-size: 16px;
  line-height: 1.8;
}

/* CALL TO ACTION */
.cta {
  background-color: #2e7d32;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

/* Market page */

.market {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.market-title {
  color: #2e7d32;
  text-align: center;
  margin-bottom: 10px;
}

.market-description {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
}

.market-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.market-table th {
  background-color: #2e7d32;
  color: white;
  padding: 12px;
  text-align: left;
}

.market-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.market-table tr:hover {
  background-color: #f1f8f4;
}
